:root {
  --blue-light: #090220;
  --blue-dark: #130931;
  --blue-0: #2c1e58;
  --blue-1: #1f1341;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    var(--blue-light),
    var(--blue-dark),
    var(--blue-light)
  );
}
